
<section class="view-photo" *ngIf="dataImage">
    <a routerLink="/" class="g-back-btn">Вернуться на главную</a>

    <div class="view-photo__container">
        <div class="view-photo__wrap view-photo__wrap--for-image">
            <figure class="view-photo__image">
                <img [src]="dataImage.urls?.regular" alt="image">
            </figure>
            <div class="view-photo__controls">
                <a [href]="dataImage.urls?.full" class="view-photo__controls-download" target="_blank">
                    Загрузить фото в полном размере
                </a>
                <button class="view-photo__controls-favorite">
                    Добавить в избранное
                </button>
            </div>
            <div class="view-photo__shared">
                <ng-container *ngFor="let btn of shareBtn">
                    <share-button
                        [button]="btn.type"
                        [title]="btn.title"
                        [description]="btn.description"
                    ></share-button>
                </ng-container>
            </div>
        </div>
        <div class="view-photo__wrap view-photo__wrap--for-related">
            <div class="view-photo__wrap view-photo__wrap--skicky">
                <p class="view-photo__wrap-name">Похожие фото</p>
                <a class="view-photo__related">
                    <a [routerLink]="['/photo', item.id]"
                      class="view-photo__related-image" 
                      *ngFor="let item of getRelatedPhoto()">
                        <img [src]="item.urls.thumb" alt="thumb">
                    </a>
                </a>
            </div>
        </div>
    </div>
</section>